[[action]]
key_action_id = "submit"
default_keys = ["ret"]
contexts = ["daily_normal", "filter_normal", "edit", "reorder", "command_palette"]

[[action]]
key_action_id = "cancel"
default_keys = ["esc"]
contexts = ["shared_normal", "edit", "reorder", "selection", "command_palette"]

[[action]]
key_action_id = "move_down"
default_keys = ["down", "j"]
contexts = ["shared_normal", "reorder", "selection", "command_palette"]

[[action]]
key_action_id = "move_up"
default_keys = ["up", "k"]
contexts = ["shared_normal", "reorder", "selection", "command_palette"]

[[action]]
key_action_id = "move_left"
default_keys = ["left", "h"]
contexts = ["daily_normal", "command_palette"]

[[action]]
key_action_id = "move_right"
default_keys = ["right", "l"]
contexts = ["daily_normal", "command_palette"]

[[action]]
key_action_id = "jump_to_first"
default_keys = ["g"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "jump_to_last"
default_keys = ["G"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "prev_week"
default_keys = ["K", "pageup"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "next_week"
default_keys = ["J", "pagedown"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "prev_month"
default_keys = ["["]
contexts = ["daily_normal"]

[[action]]
key_action_id = "next_month"
default_keys = ["]"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "prev_year"
default_keys = ["{"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "next_year"
default_keys = ["}"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "goto_today"
default_keys = ["t"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "new_entry_below"
default_keys = ["o"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "new_entry_above"
default_keys = ["O"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "edit"
default_keys = ["i"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "toggle_complete"
default_keys = ["space"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "delete"
default_keys = ["d"]
contexts = ["shared_normal", "selection", "command_palette"]

[[action]]
key_action_id = "delete_from_completed"
default_keys = ["D"]
contexts = ["command_palette"]

[[action]]
key_action_id = "move_to_today"
default_keys = ["T"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "defer"
default_keys = [">"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "yank"
default_keys = ["y"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "paste"
default_keys = ["p"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "undo"
default_keys = ["u"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "redo"
default_keys = ["U"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "remove_last_tag"
default_keys = ["x"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "remove_all_tags"
default_keys = ["X"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "cycle_entry_type"
default_keys = ["S-tab"]
contexts = ["shared_normal", "edit", "selection"]

[[action]]
key_action_id = "selection"
default_keys = ["v"]
contexts = ["shared_normal", "selection"]

[[action]]
key_action_id = "selection_extend_range"
default_keys = ["V"]
contexts = ["selection"]

[[action]]
key_action_id = "toggle_filter_view"
default_keys = ["tab"]
contexts = ["daily_normal", "filter_normal"]

[[action]]
key_action_id = "filter_prompt"
default_keys = ["/"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "toggle_journal"
default_keys = ["`"]
contexts = ["shared_normal"]

[[action]]
key_action_id = "command_palette"
default_keys = ["q"]
contexts = ["shared_normal", "command_palette"]

[[action]]
key_action_id = "filter_quick_add"
default_keys = ["ret"]
contexts = ["filter_normal"]

[[action]]
key_action_id = "refresh"
default_keys = ["r"]
contexts = ["filter_normal"]

[[action]]
key_action_id = "save_and_new"
default_keys = ["down"]
contexts = ["edit"]

[[action]]
key_action_id = "reorder_mode"
default_keys = ["r"]
contexts = ["daily_normal", "reorder"]

[[action]]
key_action_id = "tidy_entries"
default_keys = ["s"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "hide"
default_keys = ["z"]
contexts = ["daily_normal", "command_palette"]

[[action]]
key_action_id = "autocomplete"
default_keys = ["tab"]
contexts = ["edit"]

[[action]]
key_action_id = "toggle_calendar_sidebar"
default_keys = ["."]
contexts = ["shared_normal"]

[[action]]
key_action_id = "toggle_agenda"
default_keys = [","]
contexts = ["shared_normal"]

[[action]]
key_action_id = "date_picker"
default_keys = ["\\"]
contexts = ["daily_normal"]

[[action]]
key_action_id = "quit"
default_keys = ["C-q"]
contexts = ["shared_normal"]
